*~
log/*
cache/*
web/generated_graphs/*
web/*.lock
TAGS
tags
*.pyc
doc/src/_build/doctrees/*
doc/src/doctrees/*
doc/website/_build/*
web/help/.buildinfo
fabfile.pyc
.idea/*
tmp/*
.idea/*
*.pyc
.stack-work
scripts/rate_engine/dist/*
apps/asterisell/modules/customer_call_report/
apps/asterisell/modules/admin_call_report/
rating_tools/call_flow_merge_tools/call_flow_merge.creator
rating_tools/call_flow_merge_tools/call_flow_merge.creator.user
rating_tools/rate_engine/.idea/
fabric_data/work_dir/
fabric_data/dev_asterisell_instances.py
fabric_data/ssl_certificates/*.crt
fabric_data/ssl_certificates/*.key
passwords.ini
*.aux
*.log
*.crc
.idea/
.gradle/
tmp/
.deps
ctags
.deps
overview_presentation.nav
overview_presentation.out
overview_presentation.snm
overview_presentation.toc
overview_presentation.vrb
customizations/import-of-legacy-rates/auto/
fabric_data/venv/
doc/website/output/

