# NOTE: this file is used only in initial Docker container bootstra.
# Then the template version in parent directory will be used.

[server]

innodb_buffer_pool_size = 50M
max_allowed_packet = 30M

[mysqld]

[embedded]

[mariadb]

plugin-load-add=ha_tokudb.so
tokudb_cache_size = 50M

[mariadb-10.0]

